main {
   width: 50%;
   margin: 50px auto;
   display: flex;                
   align-items: center;    
   flex-direction: column;
}

.Part-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Part-3 p {
    font-weight: bold;
}

.button-container input {
    border-radius: 5px;
    border-width: 1px;
    font-size: 13px;
    padding: 2px 5px;
    z-index: 1;
}

.button-container button{
    position: relative;
    background-color: rgba(53, 165, 53, 0.806);
    color: white;
    border: none;
    padding: 2px 5px;
    margin-left: 1px;
    border-radius: 7px;
    cursor: pointer;
}

.button-container button:hover{
    opacity: 0.9;
    transition: opacity .3s;
}

table {
    margin-top: 30px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.Delete-Button {
    background-color: rgb(235, 48, 48);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: bold;
    opacity: .85;
    cursor: pointer;
}

.Delete-Button:hover {
    opacity: 0.7;
    transition: opacity .5s;
}

.Edit-Button {
    cursor: pointer;
}