main {
   width: 50%;
   margin: 50px auto;
   display: flex;                
   align-items: center;    
   flex-direction: column;
}

.Part-3, .Part-4, .Part-5, .Part-6, .Part-7, .Part-8, .Part-9, .Part-10{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addmargin {
    margin-top: 20px;
}

.show-text {
    margin-top: 30px;
    margin-bottom: 3px;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.Part-3 p, .Part-4 p, .Part-5 p, .Part-6 p, .Part-7 p, .Part-8 p, .Part-9 p, .Part-10 p {
    font-weight: bold;
    margin-bottom: 5px;
}

.button-container input {
    border-radius: 5px;
    border-width: 1px;
    font-size: 13px;
    padding: 2px 5px;
    z-index: 1;
}

.X-value, .Y-value {
    width: 50px;
}

.Y-value {
    margin-left: 3px;
}

.button-container button{
    position: relative;
    background-color: rgba(53, 165, 53, 0.806);
    color: white;
    border: none;
    padding: 2px 5px;
    margin-left: 1px;
    border-radius: 7px;
    cursor: pointer;
}

.button-container button:hover{
    opacity: 0.9;
    transition: opacity .3s;
}

table {
    box-shadow: 5px 7px 10px rgba(83, 82, 82, .5);
    margin-top: 0px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

.Delete-Button {
    background-color: rgb(235, 48, 48);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    font-weight: bold;
    opacity: .85;
    cursor: pointer;
}

.Delete-Button:hover {
    opacity: 0.7;
    transition: opacity .5s;
}

.Edit-Button {
    cursor: pointer;
}

.searchforjohn, .neversignedin, .samedayasjohn, .registeredtoday {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 0px;
    box-shadow: 3px 3px 5px rgb(111, 111, 111);
    transition: width;
}

.searchforjohn:hover{
    transform: scale(1.05);
}

.neversignedin:hover{
    transform: scale(1.05);
}

.samedayasjohn:hover{
    transform: scale(1.05);
}

.registeredtoday:hover{
    transform: scale(1.05);
}